@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
button {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background: var(--color-main);
  color: var(--color-text);
  border-radius: 5px;
  font-family: var(--font-main);
  font-size: 15px;
  padding: 10px;
  margin: 0px;
  transition: all 0.5s ease-in;
  div#processIndicator {
    margin-left: 10px;
    border-left: 2px solid var(--color-text);
    border: 3px solid var(--color-main); /* Light grey */
    border-top: 3px solid white; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
}
button:hover {
  background: var(--color-main-focus);
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
  transform: translate(5%);
}
