<header>
    <nav uk-scrollspy="target:a; cls: uk-animation-slide-top-medium;delay:200;">
        <a tabindex="2" routerLink="../home" [ngClass]="pageName ==='home' ? 'active' : ''">Home</a>
        <a tabindex="3" routerLink="../portfolio" [ngClass]="pageName ==='portfolio' ? 'active' : ''">Portfolio</a>
        <a tabindex="4" routerLink="../blog" [ngClass]="pageName ==='blog' ? 'active' : ''">Blog</a>
        <a tabindex="5" routerLink="../products" [ngClass]="pageName ==='products' ? 'active' : ''">Products</a>
        <button (click)="showCommandLine()">
            <i class="ri-terminal-box-fill"></i>
        </button>
    </nav>
    <div id="linkFollower">
    </div>
</header>
<div id="notifier" [class]="toggleView ? 'open' : 'close'">
    <i [class]="toggleView ? 'ri-arrow-right-s-line' : 'ri-arrow-left-s-line'" (click)="toggleView=!toggleView"></i>
    <button tabindex="-1" *ngIf="dataProvider.loggedIn" (click)="toggleNotification()">
        <i [class]="notificationEnabled ? 'ri-notification-4-fill' : 'ri-notification-off-fill'"></i>
    </button>
    <button tabindex="-1" class="login" *ngIf="!dataProvider.loggedIn" (click)="login()">
        Login
    </button>
</div>
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<!-- <div id="chatPopup" *ngIf="!dataProvider.gettingUserData" (mouseleave)="chatPopupVisible=true" (mouseenter)="chatPopupVisible=false" [style]="chatOpen ? 'width:auto;height:auto;' : 'width:50px;height:50px;'">
    <i *ngIf="chatPopupVisible && !chatOpen" class="ri-chat-3-fill"></i>
    <i *ngIf="!chatPopupVisible && !chatOpen" class="ri-arrow-up-s-line" (click)="chatOpen=!chatOpen"></i>
    <div *ngIf="chatOpen">
        <app-chat (visible)="chatOpen = $event"></app-chat>
    </div>
</div> -->