<main>
    <app-img root="ui" src="auth" style="width:100%;height:100%;position:absolute;right:0px;z-index:1;"></app-img>
    <article>
        <h1>Signup</h1>
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <div>
                <input type="text" formControlName="name" #name>
                <label [class]="(name.value ? 'filled' : '') +' '+ (signupForm.controls.name.touched ? (signupForm.controls.name.status==='INVALID' ? 'invalid' : 'valid' ) : '')">Name</label>
                <i class="ri-user-fill"></i>
            </div>
            <div>
                <input type="text" formControlName="email" #email>
                <label [class]="(email.value ? 'filled' : '') +' '+ (signupForm.controls.email.touched ? (signupForm.controls.email.status==='INVALID' ? 'invalid' : 'valid' ) : '')">Email</label>
                <i class="ri-mail-fill"></i>
            </div>
            <div>
                <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" #password>
                <label [class]="(password.value ? 'filled' : '') +' '+ (signupForm.controls.password.touched ? (signupForm.controls.password.status==='INVALID' ? 'invalid' : 'valid' ) : '')">Password</label>
                <i [class]="passwordVisible ? 'ri-lock-password-line' : 'ri-lock-password-fill' " 
                (click)="passwordVisible = !passwordVisible"></i>
            </div>
            <div>
                <input [type]="passwordVisible ? 'text' : 'password'" formControlName="confirmPassword" #confirmPassword>
                <label [class]="(confirmPassword.value ? 'filled' : '') +' '+ (signupForm.controls.confirmPassword.touched ? (signupForm.controls.confirmPassword.status==='INVALID' ? 'invalid' : 'valid' ) : '')">Confirm Password</label>
                <i [class]="passwordVisible ? 'ri-lock-password-line' : 'ri-lock-password-fill' " 
                (click)="passwordVisible = !passwordVisible"></i>
            </div>
            <div class="actions">
                <button type="button" (click)="loginWithGoogle()">
                    <i class="ri-google-fill"></i>
                </button>
                <button type="button" (click)="loginWithFacebook()">
                    <i class="ri-facebook-fill"></i>
                </button>
                <button type="button" (click)="loginWithGithub()">
                    <i class="ri-github-fill"></i>
                </button>
                <button type="submit">
                    Signup
                </button>
            </div>
        </form>
        <a routerLink="../login">Already have an account. <strong>Log In</strong></a>
    </article>
</main>
<app-footer></app-footer>