<!-- <main>
    <h1 ><strong>The</strong>
    <div class="stack" style="--stacks: 3;"><span style="--index: 0;">BLOG</span><span
            style="--index: 1;">BLOG</span><span style="--index: 2;">BLOG</span></div>
    </h1>
    <article>
        <app-img style="height:auto;width:40vw;" borderRadius="10px" root="postImages" [src]="featuredImage"></app-img>
        <div class="postData">
            <time datetime="dateTime">{{dateTime}}</time>
            <h2>{{title}}</h2>
            <p>{{excerpt}}</p>
            <div>
                <app-btn text="Read" [processing]="!routeDefined" [link]="route"></app-btn>
            </div>
        </div>
    </article>
    <div uk-grid="masonry: true;parallax:1000" class="posts">
        <app-post-card-wide *ngFor="let post of posts" [date]="getLocaleDate(post.date)" [authorImage]="post.authorImage"
            [authorName]="post.authorName" [excerpt]="post.description" [title]="post.title" [featuredImage]="post.featuredImage"
            [imageAlt]="post.title" [url]="post.route">
        </app-post-card-wide>
    </div>
</main> -->
<main>
    <div class="mainContainer">
        <div class="header">
            <h1>Now this is some random title</h1>
            <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quisque Nibh Nisi, Tincidunt Vel Facilisis Pretium, Varius Dignissim Magna. Praese</p>
            <button>
                <p>Read Article</p>
            </button>
        </div>
        <div id="twoImageTwoText">
            <div class="postCardPrimary">
                <img src="" alt="">
                <h3>It is Random Title</h3>
                <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quisque Nibh Nisi, Tincidunt Vel Facilisis Pretium, Varius Dignissim Magna. Praese</p>
                <button>Read Article</button>
            </div>
            <div class="postCardPrimary">
                <img src="" alt="">
                <h3>It is Random Title</h3>
                <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quisque Nibh Nisi, Tincidunt Vel Facilisis Pretium, Varius Dignissim Magna. Praese</p>
                <button>Read Article</button>
            </div>
            <div class="vertical">
                <div class="textOnlyPrimaryPost">
                    <h3>This is some Random Title</h3>
                    <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quisque Nibh Nisi, Tincidunt Vel Facilisis Pretium, Varius Dignissim Magna. Praese</p>
                    <button>Read Article</button>
                </div>
                <div class="textOnlyPrimaryPost">
                    <h3>This is some Random Title</h3>
                    <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quisque Nibh Nisi, Tincidunt Vel Facilisis Pretium, Varius Dignissim Magna. Praese</p>
                    <button>Read Article</button>
                </div>
            </div>
        </div>
    </div>
    <div id="slidableContainer">
        <div class="slidableHeader">
            <h2>More Topics To Discover</h2>
            <button>Subscribe To Posts</button>
        </div>
        <div class="horizontal FourHorizontal">
            <div class="postSecondarySmall">
                <img src="" alt="">
                <h3>This is some Random Title</h3>
                <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quisque Nibh Nisi, Tincidunt Vel Facilisis Pretium, Varius Dignissim Magna. Praese</p>
                <button>Read Article</button>
            </div>
            <div class="postSecondarySmall">
                <img src="" alt="">
                <h3>This is some Random Title</h3>
                <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quisque Nibh Nisi, Tincidunt Vel Facilisis Pretium, Varius Dignissim Magna. Praese</p>
                <button>Read Article</button>
            </div>
            <div class="postSecondarySmall">
                <img src="" alt="">
                <h3>This is some Random Title</h3>
                <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quisque Nibh Nisi, Tincidunt Vel Facilisis Pretium, Varius Dignissim Magna. Praese</p>
                <button>Read Article</button>
            </div>
            <div class="postSecondarySmall">
                <img src="" alt="">
                <h3>This is some Random Title</h3>
                <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quisque Nibh Nisi, Tincidunt Vel Facilisis Pretium, Varius Dignissim Magna. Praese</p>
                <button>Read Article</button>
            </div>
        </div>
        <div id="twoTextOneImage" class="horizontal">
            <div class="vertical">
                <div class="textOnlySecondaryPost">
                    <h2>This Is Some Long Random Title With Phrases</h2>
                    <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quisque Nibh Nisi, Tincidunt Vel Facilisis Pretium, Varius Dignissim Magna. Praese</p>
                    <button>Read Article</button>
                </div>
                <div class="textOnlySecondaryPost">
                    <h2>This Is Some Long Random Title With Phrases</h2>
                    <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quisque Nibh Nisi, Tincidunt Vel Facilisis Pretium, Varius Dignissim Magna. Praese</p>
                    <button>Read Article</button>
                </div>
            </div>
            <img src="" alt="">
        </div>
        <div class="horizontal threeHorizontal">
            <div class="postSecondaryLarge">
                <img src="" alt="">
                <h3>This is some random title</h3>
                <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quisque Nibh Nisi, Tincidunt Vel Facilisis Pretium, Varius Dignissim Magna. Praese</p>
                <button>Read Article</button>
            </div>
            <div class="postSecondaryLarge">
                <img src="" alt="">
                <h3>This is some random title</h3>
                <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quisque Nibh Nisi, Tincidunt Vel Facilisis Pretium, Varius Dignissim Magna. Praese</p>
                <button>Read Article</button>
            </div>
            <div class="postSecondaryLarge">
                <img src="" alt="">
                <h3>This is some random title</h3>
                <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quisque Nibh Nisi, Tincidunt Vel Facilisis Pretium, Varius Dignissim Magna. Praese</p>
                <button>Read Article</button>
            </div>
        </div>
        <div class="twoImage">
            <div class="widePostCard">
                <img src="" alt="">
                <div class="texts">
                    <h3>This is some random title</h3>
                    <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quisque Nibh Nisi, Tincidunt Vel Facilisis Pretium, Varius Dignissim Magna. Praese.Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quisque Nibh Nisi, Tincidunt Vel Facilisis Pretium, Varius Dignissim Magna. Praese</p>
                    <button>Read Article</button>
                </div>
            </div>
            <div class="widePostCard">
                <img src="" alt="">
                <div class="texts">
                    <h3>This is some random title</h3>
                    <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quisque Nibh Nisi, Tincidunt Vel Facilisis Pretium, Varius Dignissim Magna. Praese.Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quisque Nibh Nisi, Tincidunt Vel Facilisis Pretium, Varius Dignissim Magna. Praese</p>
                    <button>Read Article</button>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>