@import '~prismjs/plugins/toolbar/prism-toolbar.css';
@import '~prismjs/themes/prism-tomorrow';
main{
  padding:100px;
  h1{
    display: flex;
    margin-top: 0px;
    margin-bottom: 100px;
    strong{
      font-size: 150px;
      font-family: var(--font-main);
      font-display: swap;
      font-weight: 300;
      color:rgb(var(--color-main-main));
      margin-top: 0px;
    }
    div.stack {
      margin-left: 30px;
      display: grid;
      grid-template-columns: 1fr;
      width: min-content;
    }
    div.stack span {
      font-weight: bold;
      grid-row-start: 1;
      grid-column-start: 1;
      font-size: 60px;
      margin-top: 0px;
      font-family: var(--font-secondary);
      --stack-height: calc(100% / var(--stacks) - 1px);
      --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
      --clip-top: calc(var(--stack-height) * var(--index));
      --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
      clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
      animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
    }
    div.stack span:nth-child(odd) { --glitch-translate: 8px; }
    div.stack span:nth-child(even) { --glitch-translate: -8px; }
  }
  article{
    display: flex;
    flex-direction: row;
    div.postData{
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      width: 30vw;
      time{
        font-size: 20px;
        font-family: var(--font-main);
        color: rgb(var(--color-text-main));
        margin-bottom: 20px;
      }
      h2{
        font-family: var(--font-main);
        font-size: 50px;
      }
      p{
        font-family: var(--font-main);
        font-size: 20px;
        color: rgb(var(--color-text-main));
      }
    }
  }
  div.posts{
    margin-top: 100px;
    width: 100vw;
    display:grid;
    column-gap: 100px;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
    column-count: 3;
    article{
      display: flex;
      width:400px;
      flex-direction: column;
    }
  }
}
@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  };
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}