@keyframes movingDivider {
  from {
    width: 5vw;
  }
  to {
    width: 10vw;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bottomSlide {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes hueRotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
@keyframes upDownMove {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(150%);
  }
}
@keyframes changeShadows {
  from{
    text-shadow: 2px 4px 45px rgb(var(--color-main));
  } to{
    text-shadow: 2px 4px 15px rgb(var(--color-main));
  }
}
@keyframes flipAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
main {
  section.intro {
    display: flex;
    justify-content: space-between;
    div.branding {
      margin-top: 5vw;
      margin-left: 10vw;
      width: 10vw;
      display: flex;
      flex-direction: column;
      justify-content: left;
      hr.divider {
        margin: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 200px;
        height: 0px;
        border: 10px solid rgb(var(--color-main));
        animation: movingDivider alternate 5s infinite;
      }
      span {
        animation:changeShadows alternate 5s infinite;
        text-align: left;
        font-family: var(--font-main);
        font-display: swap;
        font-size: 120px;
      }
      span.subtext {
        font-family: var(--font-main);
        font-size: 40px;
      }
    }
    article {
      width: 23vw;
      margin-top: 10vh;
      margin-right: 10vw;
      font-family: var(--font-main);
      font-display: swap;
      h1 {
        font-size: 30px;
        i {
          font-size: 30px;
          vertical-align: middle;
        }
        margin-left: -30px;
        font-family: var(--font-main);
        font-display: swap;
        color: rgb(var(--color-main-main));
      }
      p {
        color: rgb(var(--color-text-main));
        strong {
          animation: hueRotate infinite 10s;
          color: rgb(var(--color-main-main));
        }
      }
      button {
        margin-top: 50px;
        font-family: var(--font-main);
        font-display: swap;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background: rgb(var(--color-primary));
        color: rgb(var(--color-text));
        font-size: 20px;
        border-radius: 50px;
        transition: all 0.5s ease-in-out;
      }
      button:hover {
        background: rgb(var(--color-main));
        box-shadow: 4px 14px 14px rgba(0, 0, 0, 0.233);
      }
    }
  }
  section.introServices {
    margin-top: 100px;
    div {
      display: flex;
      justify-content: space-evenly;
      section {
        // transform: perspective(1500px) rotateY(15deg);
        // transition: transform 1s ease 0s, box-shadow 1s ease 0s;
        font-family: var(--font-main);
        font-display: swap;
        border-radius: 20px;
        background: rgb(var(--color-secondary));
        padding: 20px;
        box-shadow: 0px 3px 6px #4a4f7b inset,
          -20px 20px 20px rgba(25, 27, 33, 0.678);
        width: 300px;
        height: 200px;
        h2 {
          font-size: 20px;
          font-weight: 400;
          margin: 0px;
        }
        p {
          font-size: 15px;
          color: rgb(var(--color-text-main));
        }
      }
      section:hover {
        // transform: perspective(3000px) rotateY(5deg);
        // box-shadow: 0px 3px 6px #4a4f7b inset,
          // 0px 20px 20px rgba(25, 27, 33, 0.678);
      }
    }
  }
  section.whatido {
    height: fit-content;
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    div.text {
      animation:changeShadows alternate 5s infinite;
      margin-left: 10vw;
      margin-top: 20vh;
      p {
        margin: 0px;
        font-family: var(--font-main);
        font-display: swap;
        font-size: 100px;
        color: rgb(var(--color-main-main));
        strong {
          font-family: var(--font-secondary);
          font-display: swap;
          font-size: 70px;
        }
      }
      p:nth-child(1) {
        margin-top: 50px;
        margin-bottom: -50px;
      }
    }
    ol.responses {
      width: 70vw;
      height: 40vh;
      // transition: all 0.5s ease-in-out;
      margin-right: 100px;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 5em;
      grid-template-areas:
        "a b b e"
        "f c d d";
      list-style: none;
      li {
        // animation: fadeIn .5s linear;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 15px;
        margin: 20px;
        transition: transform 0.5s ease-in;
        border-radius: 20px;
        background: rgb(var(--color-tertiary));
        // box-shadow: 30px -30px 20px rgba(25, 27, 33, 0.678);
        // background: linear-gradient(65deg, rgb(rgb(rgb(var(--color-primary)));, rgb(rgb(rgb(var(--color-primary)));,rgb(var(--color-tertiary));
        // box-shadow:  5px 5px 11px #111218,
        //               5px 5px 8px #353952 inset;
        p:nth-child(1) {
          font-size: 30px;
          color: rgb(var(--color-text));
        }
        p:nth-child(2) {
          font-size: 60px;
          color: rgb(var(--color-main));
        }
        p:nth-child(3) {
          position: relative;
          bottom: 0px;
          font-size: 20px;
          color: rgb(var(--color-text-main));
        }
        p {
          margin: 0px;
          font-family: var(--font-main);
          font-display: swap;
        }
      }
      li:nth-child(1) {
        grid-area: a;
      }
      li:nth-child(2) {
        grid-area: b;
      }
      li:nth-child(3) {
        grid-area: c;
      }
      li:nth-child(4) {
        grid-area: d;
      }
      li:nth-child(5) {
        grid-area: e;
      }
      li:nth-child(6) {
        grid-area: f;
      }
    }
    ol.responses > li:hover {
      transform: scale(1.1);
    }
  }
  section.blogPosts {
    padding: 50px;
    padding-left: 10vw;
    margin-top: -30vh;
    h2 {
      animation:changeShadows alternate 5s infinite;
      color: rgb(var(--color-text));
      strong {
        font-family: var(--font-secondary);
        font-display: swap;
        font-size: 30px;
      }
      font-size: 50px;
      font-family: var(--font-main);
      font-display: swap;
    }
    // div.posts{
    //   display: flex;
    //   align-items: center;
    //   justify-content: space-evenly;
    // }
    // div.posts div.uk-slider-container{
    //   width:calc(350px * 4);
    //   overflow-x: hidden;
    // }
    // div.posts div.uk-slider-container > ul{
    //   display: flex;
    //   column-gap: 50px;
    // }
    // div.posts div.uk-slider-container > ul > li{
    //   width: min-content;
    //   list-style: none;
    // }
    // div.posts > ul > li > app-post-card {
    //   transition: transform 0.5s;
    //   // margin: 20px;
    // }
    // div.posts > ul > li > app-post-card:hover {
    //   transform: scale(1.1);
    // }
  }
  section#integrations {
    overflow-x: hidden;
    padding-top: 50px;
    // -webkit-padding-before: clamp(100px, 13vw, 150px);
    // padding-block-start: clamp(100px, 13vw, 150px);
    div.heading {
      margin-left: 10vw;
      animation:changeShadows alternate 5s infinite;
      color: rgb(var(--color-text));
      strong {
        font-family: var(--font-secondary);
        font-display: swap;
        font-size: 30px;
      }
      p {
        font-size: 50px;
        font-family: var(--font-main);
        font-display: swap;
        margin:0px;
        margin-bottom: 10px;
      }
    }
    ul {
      position: relative;
      height: 360px;
      display: block;
      margin: 0 0 48px;
      padding: 0;
      position: relative;
      opacity: 0;
      -webkit-animation: fadeIn 1s 1s forwards;
      animation: fadeIn 1s 1s forwards;
      li {
        list-style: none;
        position: absolute;
        border-radius: 50%;
        padding: 10px;
        width: 100px;
        height: 100px;
        // transition: transform 0.1s linear;
        background-color: rgb(var(--color-tertiary));
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.184);
        img {
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: auto;
          height: 80px;
          padding: 0px;
        }
      }
    }
  }
  section.projects {
    padding: 50px;
    padding-left: 10vw;
    div.heading {
      animation:changeShadows alternate 5s infinite;
      color: rgb(var(--color-text));
      strong {
        font-family: var(--font-secondary);
        font-display: swap;
        font-size: 30px;
      }
      p {
        font-size: 50px;
        font-family: var(--font-main);
        font-display: swap;
        margin-bottom: 10px;
      }
    }
    p {
      font-size: 20px;
      color: rgb(var(--color-text-main));
    }
    div.optionMenu {
      div {
        margin-top: 25px;
        display: flex;
        align-items: center;
        div {
          border-right: 3px solid white;
          padding-right: 20px;
          margin-right: 20px;
          &:hover {
            color: rgb(var(--color-main-light));
          }
          i {
            font-size: 60px;
            transition: color 0.5s ease-in-out;
            &:hover {
              color: rgb(var(--color-main-light));
            }
          }
          i[class*="-fill"] {
            color: rgb(var(--color-main));
          }
          span {
            margin-left: 20px;
            height: min-content;
            h3 {
              font-size: 19px;
              margin-top: 0px;
              margin-bottom: 10px;
              transition: color 0.5s ease-in-out;
            }
            p {
              margin: 0px;
              font-size: 14px;
              transition: color 0.5s ease-in-out;
            }
          }
          ng-lottie{
            width:80px;
          }
        }
        div:last-child {
          border: none;
        }
      }
    }
    div.gridContainer {
      padding-top: 50px;
      div.projectContainer {
        display: grid;
        width: 100%;
        margin-left: 0px;
        grid-template-areas:
          "main main second"
          "third fourth fifth"
          "seventh sixth fifth";
        column-gap: 10px;
        row-gap: 10px;
        div {
          background-color: rgb(var(--color-tertiary));
          padding: 20px;
          border-radius: 20px;
          p {
            color: rgb(var(--color-text-light));
          }
        }
        div:nth-child(1) {
          grid-area: main;
        }
        div:nth-child(2) {
          grid-area: second;
        }
        div:nth-child(3) {
          grid-area: third;
        }
        div:nth-child(4) {
          grid-area: fourth;
        }
        div:nth-child(5) {
          grid-area: fifth;
        }
        div:nth-child(6) {
          grid-area: sixth;
        }
        div:nth-child(7) {
          grid-area: seventh;
        }
        div:nth-child(8) {
          grid-area: eighth;
        }
        div:nth-child(9) {
          grid-area: ninth;
        }
        div:nth-child(10) {
          grid-area: tenth;
        }
        div:nth-child(11) {
          grid-area: eleventh;
        }
        div.colored {
          background: rgb(var(--color-main), 0.5);
          p {
            color: rgb(var(--color-text));
          }
        }
        // .big{
        //   min-width: 35vw;
        //   height:auto;
        //   background-color: rgb(var(--color-main));
        // }
        // .fit{
        //   // max-width: 100%;
        //   width:max-content;
        // }
        // .medium{
        //   width: 15vw;
        //   height:auto;
        //   background-color: rgb(var(--color-secondary));
        // }
      }
    }
  }
  section.pricing {
    margin-left: 10vw;
    .heading {
      animation:changeShadows alternate 5s infinite;
      strong {
        font-family: var(--font-secondary);
        font-display: swap;
        font-size: 30px;
      }
      p {
        font-size: 50px;
        font-family: var(--font-main);
        font-display: swap;
        margin-bottom: 10px;
      }
      button {
        background-color: transparent;
        border: none;
        padding: 10px;
        // margin: 20px;
        i {
          font-size: 60px;
          transition: color 0.5s ease-in-out;
          &:hover {
            color: rgb(var(--color-main-light));
          }
        }
        i[class*="-fill"] {
          color: rgb(var(--color-main));
        }
        font-size: 20px;
        color: rgb(var(--color-text-main));
      }
      hr{
        margin: 0px;
        margin-bottom: 40px;
        border: none;
        height: 0;
        border: 2px solid rgb(var(--color-text-light),0.3);
        border-radius: 20px;
      }
    }
    .prices {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-between;
      grid-gap: 60px;
      // position: relative;
      // left: 50%;
      // transform: translateX(-50%);
      width: fit-content;
      margin-bottom: 40px;
      .priceCard {
        width: 400px;
        background: rgb(var(--color-tertiary));
        border-radius: 20px;
        box-shadow: inset 5px 3px 20px rgba(0, 0, 0, 0.48),5px 3px 20px rgba(0, 0, 0, 0.233);
        padding: 20px;
        transition: all 0.5s ease-in-out;
        .title {
          text-align: center;
          font-size: 25px;
          color: rgb(var(--color-main-light));
        }
        .subtitle {
          text-align: center;
          font-size: 16px;
          color: rgb(var(--color-main-light));
        }
        .price {
          text-align: center;
          font-size: 30px;
          color: rgb(var(--color-success));
        }
        ul {
          li {
            font-size: 17px;
            list-style: none;
          }
          li.check {
            color: rgb(var(--color-text-light));
            i {
              color: rgb(var(--color-success));
            }
          }
          li.wrong {
            color: rgb(var(--color-danger));
          }
        }
        .selectButton {
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: rgb(var(--color-main));
          border: none;
          color: rgb(var(--color-text));
          font-size: 20px;
          transition: all 0.5s ease-in-out;
          border-radius: 10px;
          margin: 0 auto;
          display: block;
          &:hover {
            border-radius: 10px 20px 10px 20px;
            background-color: rgb(var(--color-main), 0.5);
          }
        }
        // &:hover {
        //   border-radius: 20px 40px 20px 40px;
        //   transform: scale(1.05);
        // }
      }
    }
  }
  section.testimonials{
    overflow-x: hidden;
    margin-left: 10vw;
    div.heading {
      animation:changeShadows alternate 5s infinite;
      color: rgb(var(--color-text));
      strong {
        font-family: var(--font-secondary);
        font-display: swap;
        font-size: 30px;
      }
      p {
        font-size: 50px;
        font-family: var(--font-main);
        font-display: swap;
        margin-bottom: 10px;
      }
    }
    div.testimonials{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      div.testimonial{
        width: 300px;
        background: rgb(var(--color-tertiary));
        margin: 20px;
        padding:30px;
        border-radius: 20px;
        box-shadow: inset 5px 3px 20px rgba(0, 0, 0, 0.48),5px 3px 20px rgba(0, 0, 0, 0.233);
        transition: all 0.5s ease-in-out;
        div.user{
          margin: 0 auto;
          width: fit-content;
          display:flex;
          align-items:center;
          .userInfo{
            display:flex;
            flex-direction:column;
            justify-content: center;
            margin-left: 10px;
            p.name{
              font-size: 18px;
              font-weight: bolder;
              color:rgb(var(--color-text));
              margin:0px;
            }
            p.designation{
              font-size: 14px;
              font-weight: lighter;
              color:rgb(var(--color-text-light));
              margin:0px;
            }
          } 
        }
        P.comment{
          margin:0px;
          margin-top: 20px;
          font-size: 16px;
          font-weight: lighter;
          text-align: justify;
          text-justify: inter-word;
          color:rgb(var(--color-text-light));
        }
        &:hover{
          transform: scale(1.05);
        }
      }
    }
  }
  section.divider{
    height:30vh;
    width: 100vw;
  }
}
.flipAnimation{
  animation:flipAnimation alternate 5s infinite;
}
// @media screen and (max-width:600px;) {
  
// }