// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use "~@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
$SapythonBlog-primary: mat.define-palette(mat.$indigo-palette);
$SapythonBlog-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$SapythonBlog-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$SapythonBlog-theme: mat.define-light-theme((
  color: (
    primary: $SapythonBlog-primary,
    accent: $SapythonBlog-accent,
    warn: $SapythonBlog-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($SapythonBlog-theme);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@import '~prismjs/plugins/toolbar/prism-toolbar.css';
@import '~prismjs/themes/prism-tomorrow';
@import '~@angular/cdk/overlay-prebuilt.css';

@font-face {
  font-family: "CascadiyaCode";
  src: url("./assets/fonts/CascadiyaCodePLRegular.woff2") format("woff2");
    // url("./assets/fonts/cascadiacodepl-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Amsterdam";
  src: local("Amsterdam"),
    url("./assets/fonts/AmsterdamOne.woff2") format("woff2");
  font-display: swap;
}
@keyframes bubble {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
:root {
  --color-primary: 42, 46, 61;
  --color-primary-gr1: 36, 40, 53;
  --color-secondary: 64, 67, 81;
  --color-tertiary: 28, 31, 41;
  --color-tertiary-gr1: 37, 39, 48;
  --color-tertiary-dark: 24, 25, 27;
  --color-success: 131, 237, 102;
  --color-danger:255, 74, 119;
  --color-dark-zero: 24, 25, 27;
  --color-dark-one: 16, 17, 20;
  --color-dark-two: 9, 10, 12;
  --color-main: 94, 110, 255;
  --color-main-focus: 70, 88, 255;
  --color-main-light: 145, 156, 255;
  --color-main-dark: 74, 79, 123;
  --color-second:#FF2B74;
  --color-second-rgb:255, 43, 116;
  --color-text: 255, 255, 255;
  --color-text-light: 194, 194, 194;
  --font-main:"CascadiyaCode";
  --font-secondary:"Amsterdam";

  // New theme
  // --color-primary: #20232e;
  // --color-secondary: #2d2f38;
  // --color-tertiary: #14171d;
}
.neoMorph{
  background: linear-gradient(145deg, #262937, #2d3141);
  box-shadow:  5px 5px 11px #111218,
             -5px -5px 11px #434a62;
}
.neoMorph-main{
  background: linear-gradient(145deg, #262937, #2d3141);
  box-shadow:  5px 5px 11px #6c6cff58,
             -5px -5px 11px #434a62;
}
// Definitions end here
*{
  font-family: var(--font-main);
}
html,
body {
  margin: 0%;
  padding: 0%;
  color: rgb(var(--color-text));
  background:rgb(var(--color-primary));
  overflow-x: hidden;
  scroll-behavior: smooth;
  z-index: -1;
}
body{
  background-color: transparent;
}
#mainScroll{
  background-color: #2a2e3d6d;
  z-index: 1;
}
.swiper-wrapper {
  display: flex;
}

.bubble {
  z-index: -5;
  border-radius: 50%;opacity: 0;
  animation: bubble 10s infinite alternate ease-in-out;
  width: 200px;
  height: 200px;
  filter: blur(500px);
  transition: all 2s ease-in-out;
  position: fixed;
}
// .bubbleContainer {
//   overflow: hidden;
//   // width: 100vw;
//   // height: 100vh;
//   // position: fixed;
//   // top: 0px;
//   // left: 0px;
// }
/* Generated with http://k88hudson.github.io/syntax-highlighting-theme-generator/www */
/* http://k88hudson.github.io/react-markdocs */
/**
 * @author k88hudson
 *
 * Based on prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
/*********************************************************
* General
*/
pre{
  border: none;
}
:not(pre) > code[class*="language-"], pre[class*="language-"]{
  border-radius: 20px;
  background: linear-gradient(225deg, #191c25, #1e212c);
  box-shadow:  -33px 33px 65px #0f1015,
             33px -33px 65px #292e3d;
}
code{
  color:#fff8d2 !important;
  font-family: var(--font-main);
}
/*********************************************************
* Tokens
*/
.namespace {
  opacity: .7;
}
.token.comment{
  color: #6a737d;
}
.token.prolog{
  color: #6a737d;
}
.token.doctype{
  color: #dcacff;
}
.token.cdata {
  color: #fffdc1;
}
.token.punctuation {
  color: #fffdc1;
}
.token.property{
  color:#ffb13c
}
.token.tag{
  color:#ff6952
}
.token.boolean{
  color:#61c8ff
}
.token.number{
  color:#ff3ce2
}
.token.constant{
  color:#6ed76c
}
.token.symbol,
.token.deleted {
  color: #c7369e;
}
.token.selector{
  color:#ffa667
}
.token.builtin{
  color:#526fff
}
.token.attr-name{
  color:#f36891
}
.token.string,
.token.char,
.token.inserted {
  color: #669900;
}
.token.operator,
.token.entity{
  color: #fffdc1;
}
.token.url{
  color:#38c2bd
}
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: #1d222c;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #5d6efc;
}
.token.function {
  color: #db4f5d;
}
.token.regex{
  color:#b4ffb7
}
.token.important,
.token.variable {
  color: #ee9900;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
/*********************************************************
* Line highlighting
*/
pre[data-line] {
  position: relative;
}
pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #4c549c;
  box-shadow: inset 5px 0 0 #4c549c;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

.mat-snack-bar-container {
	color: rgba(255, 255, 255, 0.842);
  font-family: var(--font-main);
	background: #0c0d11;
	box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.14), 0px 1px 28px 0px rgba(0, 0, 0, 0.12);
}
.mat-simple-snackbar{
  font-family: var(--font-main);
}
.mat-simple-snackbar > span::first-letter{
  color:rgb(255, 72, 130);
  font-size: 20px;
  font-weight: 600;
}
.tilt-container{
  transform-style: preserve-3d;
  transform: perspective(1000px);
  *{
    transform: translateZ(20px);
  }
}